<?php

define('TOKEN', '1111111111'); // токен бота
define('BOT_ID', '1111111111'); // id бота
define('USER_ID', '1111111111'); // id Вашего пользователя telegram
define('DB_FILE_PATH', 'user_db.txt'); // путь к базе данных со списком пользователей (чатов)
define('MESSAGE', 'Привет!'); // сообщение для массовой рассылки